{% extends 'products/base.html' %}
{% block content %}

    <h1>商品一覧</h1>

    {% if object_list %}
        <ul>
            {% for product in object_list %}
                <li>
                    <strong><a href="{% url 'products:detail' product.pk %}">{{ product.name }}</a></strong><br>
                    価格: {{ product.price }}円<br>
                    説明: {{ product.description }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>商品がありません。</p>
    {% endif %}

{% endblock %}
